@import "tailwindcss";

@font-face {
  font-family: Vazir;
  src: url("/public/font/Vazir.ttf");
}

body {
  font-family: Vazir, Arial, Helvetica, sans-serif !important;
  background-color: #282c31;
  color: white !important;
}

.MuiButtonBase-root {
  margin-right: 8px !important;
}

.Mui-focused {
  outline: none !important;
  border: none !important;
}

.react-time-picker__inputGroup__hour {
  outline: none;
  /* outline: 1px solid rgb(39, 103, 243); */
}

.react-time-picker__inputGroup__minute {
  outline: none;
}

.react-time-picker__clear-button {
  display: none;
}
